.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



body { padding-top: 70px; /*for nav*/}

.myFace{

width:50px;

display:inline-block;
}

.myNumber{

  width:100px;

}

.no-flex{
  display:block !important;
}












@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }}
